<nav>
    <h2>UMS</h2>
    <ul>
        <li><a href="/">Home</a></li>
        <% if (user) { %>
            <li><a href="/user/profile">Profile (<%= user.role %>)</a></li>
            <% if (user.role === 'ADMIN') { %>
                <li><a href="/admin/users">Manage Users</a></li>
            <% } %>
            <% if (user.role === 'MANAGER') { %>
                <li><a href="/manager/users">Manage Users</a></li>
            <% } %>
            <% if (user.role === 'TEAM_LEAD') { %>
                <li><a href="/teamLead/users">Manage Users</a></li>
            <% } %>
            <li><a href="/auth/logout">Logout</a></li>
        <% } else { %>
            <li><a href="/auth/register">Register</a></li>
            <li><a href="/auth/login">Login</a></li>
        <% } %>    
    </ul>
</nav>   