<%- include('./layouts/header') %>

<h1 class="title">Role Based Access Control</h1>
<div class="box-info">
  <ol class="box-info">
    <li><b>Express JS </b></li>
    <li><b>EJS</b> templating engine</li>
    <li>
      <b>Styling — </b>custom CSS (Bootstrap, Bulma,
      Tailwind, etc...)
    </li>
    <li>Handling <b>HTTP error</b> (ex: 404, etc)</li>
  </ol>
</div>

<%- include('./layouts/footer') %>